[Desktop Entry]
Encoding=UTF-8
Name=Diogenes NG
TryExec=diogenes-ng
Exec=diogenes-ng
Terminal=false
Type=Application
StartupNotify=true
Icon=diogenes
Categories=Application;Education;Teaching;

